<nav id="navbar">
    <div id="logo_wrap">
        <img id="logo_img" src="/images/utsc.png">
        <div id="page_header">CS URG</div>
    </div>

    
        <ul id="navlinks">
            <li><a class="navlink" href="/<%= home %>">Home</a></li>
            <li><a class="navlink" href="/contact">Contact</a></li>
            <li><a class="navlink" href="/<%= action %>"><button id="login-btn"><%= action %></button></a></li>
        </ul>
    
</nav>