<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <title>this is da page</title>
</head>

<body>
    <%- include('../partials/navbar', {action:"logout"}) %>
    <div id="content">
        <table>
            <h1>These are the Studies i have it</h1>
            <tr>
                <th>Study Title</th>
                <th>Study Info</th>
                <th>Study Link</th>
            </tr>
            <% for (const row of query_result) { %>
            <% if (row.is_active == 1) { %>
            <tr>
                <td><%= row.title %></td>
                <td><%= row.info %></td>
                <td><a href="/adminhome/study/<%= row.study_id %>">Go to study</a></td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </div>
</body>

</html>