<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/widgets.css">
    <title>this is da page</title>
</head>

<body>
    <%- include('../partials/navbar', {action:"logout", home:"adminhome"}) %>
    <div id="content">
        <h2 class="sub-header">Active Studies</h2>
        <% for (const row of studies) { %>
        <% if (row.is_active == 1) { %>
        <div class="widget">
            <a href="/adminhome/study/<%= row.study_id %>" class="widget_link">
                <div class="widget_cont">
                    <div class="widget_top">
                        <div class="title"><span class="label"></span><%= row.title %></div>
                    </div>
                    <div class="info"><span class="label">Description:&nbsp;</span><%= row.info %></div>
                </div>
            </a>
        </div>
        <% } %>
        <% } %>
    </div>
</body>

</html>