<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <title>this is da page</title>
</head>

<body>
    <%- include('../partials/navbar', {action:action}) %>
    <div id="content">

            <div id="pg-cont">
                <h2 class="sub-header">Instructor</h2>
    
                <div id="intro">
                    <img id="intro-img" src="">
    
                    <p id="body-para">reach Dr.Brian Harrington, the leader of this group<a href="#">here</a></p>
                </div>
            </div>
    
        </div>
</body>

</html>