<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <title>Contact</title>
</head>

<body>
    <%- include('../partials/navbar', {action:action, home:home}) %>
    <div id="content">

            <div id="pg-cont">
                <h2 class="sub-header">Contact Information</h2>
    
                <div id="intro" style="flex-direction: column;">
                    <p class="body-para">If you have questions or concerns as a member, please post them on group's <a target="_blank" href="https://piazza.com">Piazza board.</a></p>
                    
                    <p class="body-para">The group is led by Professor Brian Harrington who has been a lecturer and professor at UTSC for 8 years. External Queries in regards to the group or the literature reveiw can be directed towards him through the following email: <a href="mailto:bharrington@utsc.utoronto.ca">bharrington@utsc.utoronto.ca</a></p>

                    <p class="body-para">Questions, concerns or issues in regards to this web app can be directed at <a href="mailto:saad.raza@mail.utoronto.ca">saad.raza@mail.utoronto.ca</a></p>
                </div>
            </div>
    
        </div>
</body>

</html>