<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <title>this is da page</title>
</head>

<body>
    <%- include('../partials/navbar', {action:"login", home:"/"}) %>
    <div id="content">

            <div id="pg-cont">
                <h2 class="sub-header">Overview</h2>
    
                <div id="intro">
                    <img id="intro-img" src="">
    
                    <p id="body-para">We are a small group that does CS research at the University of Toronto Scarborough</p>
                </div>
            </div>
    
        </div>
</body>

</html>