<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <title>this is da page</title>
</head>

<body>
    <%- include('../partials/navbar', {action:"login", home:"/"}) %>
    <div id="content">

        <div id="pg-cont">
            <h2 class="sub-header">Overview</h2>

            <div id="intro">
                <img id="intro-img" src="/images/cs_res-min.png">

                <p class="body-para">We are a group that does research on various topics related to computer science
                    learning at the University of Toronto Scarborough. Some of the papers the group has publised so
                    far:<br><br>
                    <a href="https://dl.acm.org/ft_gateway.cfm?id=2844642&ftid=1680864&dwn=1">A Multi-institutional Study of Peer Instruction in Introductory Computing</a><br>
                    <br>
                    <a href="https://dl.acm.org/citation.cfm?id=3324888">Rates in introductory programming: 12 years later</a><br>
                    <br>
                    <a href="https://dl.acm.org/citation.cfm?id=1404526">Students sharing their multiple choice questions</a><br>
                    <br>
                    <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=6353335">Literature review: teaching novices programming using robots</a>
                </p>
            </div>
        </div>

    </div>
</body>

</html>