<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <link rel="stylesheet" href="/css/widgets.css">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <%- include('../partials/navbar', {action:"logout", home:"userhome"}) %>
    <div id="content">
        <!-- put your content in here, leave the navbar import up top as it is -->

    </div>

    <script>
        // they both have the same name but dont worry just use file data
        file_data = <%- JSON.stringify(file_data) %>;

        $(document).ready(function () {
            // iterate over the rows from the table and do whatever you need to do
            for (const row of user_responses) {
                // for example calculate the difference in time and accumulate it to get total time
            }
            // once you have it accumulated devide by the number of rows to get avg response time

        })

    </script>
</body>

</html>