<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard.css">
    <title>this is da page</title>
</head>

<body>
    <%- include('../partials/navbar', {action:"login"}) %>
    <div id="content">

            <div id="pg-cont">
                <h2 class="sub-header">Login pager</h2>
                <%= message %>
                <form action="/login" method="POST">
                    <input type="text" name="email" id="email_input" placeholder="Email">
                    <input type="password" name="password" id="pass_input" placeholder="Password">
                    <input type="submit" value="submit">
                </form>
                
            </div>
    
        </div>
</body>

</html>